# Create a .env file with this variables

# Name of the directory of your internal app
# Example: MyApp
INTERNAL_APP_DIRECTORY=

# Path to the public directory of your app
# Example: MyApp/public
INTERNAL_APP_PUBLIC_DIRECTORY=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

NGINX_PORT=

# PHP Resources
PHP_CPU_LIMIT=
PHP_MEMORY_LIMIT=

# Adminer config
ADMINER_PORT=

# PGAdmin config
PGADMIN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# PHPMyAdmin config
PHPMYADMIN_PORT=
PHPMYADMIN_USER=
PHPMYADMIN_PASSWORD=
